<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-trail-path-waypoint-heading"
        data-cy="TrailPathWaypointCreateUpdateHeading"
        jhiTranslate="hopitAdminApp.trailPathWaypoint.home.createOrEditLabel"
      >
        Create or edit a Trail Path Waypoint
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hopitAdminApp.trailPathWaypoint.waypointLat" for="field_waypointLat"
            >Waypoint Lat</label
          >
          <input
            type="number"
            class="form-control"
            name="waypointLat"
            id="field_waypointLat"
            data-cy="waypointLat"
            formControlName="waypointLat"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hopitAdminApp.trailPathWaypoint.waypointLong" for="field_waypointLong"
            >Waypoint Long</label
          >
          <input
            type="number"
            class="form-control"
            name="waypointLong"
            id="field_waypointLong"
            data-cy="waypointLong"
            formControlName="waypointLong"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hopitAdminApp.trailPathWaypoint.trailpath" for="field_trailpath">Trailpath</label>
          <select class="form-control" id="field_trailpath" data-cy="trailpath" name="trailpath" formControlName="trailpath">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="trailPathOption.id === editForm.get('trailpath')!.value?.id ? editForm.get('trailpath')!.value : trailPathOption"
              *ngFor="let trailPathOption of trailPathsSharedCollection; trackBy: trackTrailPathById"
            >
              {{ trailPathOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
