<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-additional-map-object-heading"
        data-cy="AdditionalMapObjectCreateUpdateHeading"
        jhiTranslate="hopitAdminApp.additionalMapObject.home.createOrEditLabel"
      >
        Create or edit a Additional Map Object
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hopitAdminApp.additionalMapObject.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hopitAdminApp.additionalMapObject.objectLat" for="field_objectLat"
            >Object Lat</label
          >
          <input type="number" class="form-control" name="objectLat" id="field_objectLat" data-cy="objectLat" formControlName="objectLat" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hopitAdminApp.additionalMapObject.objectLong" for="field_objectLong"
            >Object Long</label
          >
          <input
            type="number"
            class="form-control"
            name="objectLong"
            id="field_objectLong"
            data-cy="objectLong"
            formControlName="objectLong"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hopitAdminApp.additionalMapObject.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hopitAdminApp.additionalMapObject.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hopitAdminApp.additionalMapObject.trail" for="field_trail">Trail</label>
          <select class="form-control" id="field_trail" data-cy="trail" name="trail" formControlName="trail">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="trailOption.id === editForm.get('trail')!.value?.id ? editForm.get('trail')!.value : trailOption"
              *ngFor="let trailOption of trailsSharedCollection; trackBy: trackTrailById"
            >
              {{ trailOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
