<div>
  <h2 id="page-heading" data-cy="TrailPathHeading">
    <span jhiTranslate="hopitAdminApp.trailPath.home.title">Trail Paths</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hopitAdminApp.trailPath.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-trail-path"
        [routerLink]="['/trail-path/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hopitAdminApp.trailPath.home.createLabel"> Create a new Trail Path </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="trailPaths?.length === 0">
    <span jhiTranslate="hopitAdminApp.trailPath.home.notFound">No trailPaths found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="trailPaths && trailPaths.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="hopitAdminApp.trailPath.title">Title</span></th>
          <th scope="col"><span jhiTranslate="hopitAdminApp.trailPath.distance">Distance</span></th>
          <th scope="col"><span jhiTranslate="hopitAdminApp.trailPath.description">Description</span></th>
          <th scope="col"><span jhiTranslate="hopitAdminApp.trailPath.trail">Trail</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trailPath of trailPaths; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/trail-path', trailPath.id, 'view']">{{ trailPath.id }}</a>
          </td>
          <td>{{ trailPath.title }}</td>
          <td>{{ trailPath.distance }}</td>
          <td>{{ trailPath.description }}</td>
          <td>
            <div *ngIf="trailPath.trail">
              <a [routerLink]="['/trail', trailPath.trail?.id, 'view']">{{ trailPath.trail?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/trail-path', trailPath.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/trail-path', trailPath.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(trailPath)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
